<head>
	<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<% if @tweet.category == "懺悔" %>
<div id="zangeshowcontainer">
<header class="header-nav">
  <div class="indextitle">
  <a href="/zenkoutweets/"><img src="/images/angel.png" width="50px" height="50px"></a>
  </div>
    <nav><a href="/about">About</a></nav>
    <nav><a href="/hells">Hells</a></nav>
    <nav><a href="/heaven">Heaven</a></nav>
    <nav><a href="/links">Links</a></nav>
  
</header>
<div class="heart">
  <img src="/images/heart.png" width="20px" height="20px">
</div>

    <% if flash[:likecreate] %>
      <script>
        alert('あなたの赦しでその人は救われるでしょう')
      </script>
    <% end %>

    <% if flash[:likenotice] %>
      <script>
        alert('すでに赦しています')
      </script>
    <% end %>

    <% if flash[:notice] %>
      <script>
        alert('削除キーが違います')
      </script>
    <% end %>

    <% if flash[:commentcreate] %>
      <script>
        alert('あなたの言葉でその人は救われるでしょう')
      </script>
    <% end %>

  <div class="explanation">
    <div class = "explanationtitle">
      天国への階段
    </div>
    <div class="explanationscript">
      <p>あなたの日ごろの行いは天国行きか地獄行きかを判定します</p>
      <p>たくさんの徳を積んで天国行きを目指しましょう</p>
    </div>
  </div>
    
  <div class="showcontents">
      <% if @tweet.likes.count >= @tweet.heavennumber %>
        <div style="position: relative;
        padding: 0.5em 0.7em 0em 0.7em;
        margin: 0.5em 0.5em;
        width: 80%;
        background: rgba(77, 240, 199, 0.5);
        color: #1a2f49;
        border: solid 1px gray;
        border-radius: 5px;">

        <% elsif @tweet.hellnumber == 0 %> 
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.1);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==1 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.17);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==2 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.24);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==3 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.31);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==4 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.38);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==5 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.45);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==6 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.52);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==7 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.6);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% end %>
          <div class="title">
            <p><%= @tweet.title %></p>
          </div>
          <div class="content">
            <p><%= @tweet.content %></p>
          </div>
          <div class="information">
            <%= time_ago_in_words(@tweet.created_at) %>前<br>
            [<%= @tweet.name %>]→
            <% if @tweet.likes.count >= @tweet.heavennumber %>
            <a href="/heaven">天国行き</a>
            <% elsif @tweet.hellnumber == 0 %>
            <a href="/hells">等活地獄行き</a>
            <% elsif @tweet.hellnumber ==1 %>
            <a href="/hells">黒縄地獄行き</a>
            <% elsif @tweet.hellnumber ==2 %>
            <a href="/hells">衆合地獄行き</a>
            <% elsif @tweet.hellnumber ==3 %>
            <a href="/hells">叫喚地獄行き</a>
            <% elsif @tweet.hellnumber ==4 %>
            <a href="/hells">大叫喚地獄行き</a>
            <% elsif @tweet.hellnumber ==5 %>
            <a href="/hells">焦熱地獄行き</a>
            <% elsif @tweet.hellnumber ==6 %>
            <a href="/hells">大焦熱地獄行き</a>
            <% elsif @tweet.hellnumber ==7 %>
            <a href="/hells">無間地獄行き</a>
            <% end %>
            <br>
            
            <% if @tweet.heavennumber-@tweet.likes.count >= 1  %>
              残り(<%= @tweet.heavennumber-@tweet.likes.count %>)回の感謝で天国行き
            <% end %>
            <div class="like">
              <div class="see">閲覧数 = (<%=  @tweet.impressionist_count(:filter=>:session_hash) %>)</div>
              <div class = "like_contents">
                <div class="word">赦す</div>
                <div class="btn">
                  <%= button_to '', tweet_likes_path(@tweet), :class => 'thankbtn' %>
                </div>
                
                <div class="likenumber">
                  (<%= @tweet.likes.count %>)
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
  <div class = "deletecontainer">
  <div class="delete">
    <%= form_tag({controller:"tweets",action:"destroy"}, method: :delete) do %>
      <%= number_field_tag :key, @word, placeholder: "削除キー(半角数字4桁)" %>
    <%= submit_tag '削除する', class: 'btn btn-danger'  %>
    <% end %>

  </div></div>
  <br><br>
  <p style="text-align:center">
    <button class="btn btn-primary" aria-expanded="true" type="button" data-toggle="collapse" data-target="#com-form">コメントを書く</button>
  </p>

  <div class="com-form collapse" id="com-form" aria-expanded="false" style="height: 100px;">
    <%= form_for [@tweet, @comment] do |f| %>
      <%= f.text_field :name, :placeholder=>"名無しさん", :size=> "10x1" %><br>
      <%= f.text_area :content, :placeholder=>"コメントを入力してください", :size=> "60x8" %>
      <br>

      <%= f.submit 'コメントを送る', class: 'btn btn-success'%><br><br><br>
    <% end %>
  </div>

  <% if @comments.count == 0 %>
  <p style="text-align:center">まだコメントはありません </p>
  <% else %>
    <div class="commenttop">コメント一覧</div>
    <% @comments.each do |c| %>
    <div class="commentsshow">
      <div class="commentcontents">
        <%= c.content %>
      </div>
      <div class="commentname">
        <%= c.name %>
      </div>
      <div class="commentinformation">
      <%= time_ago_in_words(c.created_at) %>前
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="fire">
      <img src="/images/fire.png" width="40px" height="40px" class="fireimg">
  </div>

  <div class = "oni">
  </div>

  <div class="homelinks">
    <div class="zenkoulink"><%= link_to "善行の部屋に戻る", zenkoutweets_path %></div>
    <div class="zangelink"><%= link_to "懺悔の部屋に戻る", zangetweets_path %></div>
  </div>

  <p id="pagetop"><a href="#">↑ </a></p>

  <footer>
  　 Copyright © M.N All Rights Reserved.
  </footer>
</div>

<% else %>

<div id="zenkoushowcontainer">
<header class="header-nav">
  <div class="indextitle">
  <a href="/zenkoutweets/"><img src="/images/angel.png" width="50px" height="50px"></a>
  </div>
    <nav><a href="/about">About</a></nav>
    <nav><a href="/hells">Hells</a></nav>
    <nav><a href="/heaven">Heaven</a></nav>
    <nav><a href="/links">Links</a></nav>
  
</header>
<div class="heart">
  <img src="/images/heart.png" width="20px" height="20px">
</div>

  <% if flash[:likenotice] %>
    <script>
      alert('すでに感謝しています')
    </script>
  <% end %>

  <% if flash[:likecreate] %>
    <script>
      alert('あなたの感謝でその人は救われるでしょう')
    </script>
  <% end %>

  <% if flash[:commentcreate] %>
      <script>
        alert('あなたの言葉でその人は救われるでしょう')
      </script>
  <% end %>

  <% if flash[:notice] %>
      <script>
        alert('削除キーが違います')
      </script>
  <% end %>

  <div class="explanation">
    <div class = "explanationtitle">
      天国への階段
    </div>
    <div class="explanationscript">
      <p>あなたの日ごろの行いは天国行きか地獄行きかを判定します</p>
      <p>たくさんの徳を積んで天国行きを目指しましょう</p>
    </div>
  </div>

  <div class="showcontents">
      <% if @tweet.likes.count >= @tweet.heavennumber %>
        <div style="position: relative;
        padding: 0.5em 0.7em 0em 0.7em;
        margin: 0.5em 0.5em;
        width: 80%;
        background: rgba(77, 240, 199, 0.5);
        color: #1a2f49;
        border: solid 1px gray;
        border-radius: 5px;">

        <% elsif @tweet.hellnumber == 0 %> 
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.1);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==1 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.17);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==2 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.24);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==3 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.31);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==4 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.38);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==5 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.45);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==6 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.52);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% elsif @tweet.hellnumber ==7 %>
          <div style="position: relative;
          padding: 0.5em 0.7em 0em 0.7em;
          margin: 0.5em 0.5em;
          width: 80%;
          background: rgba(255, 0, 0, 0.6);
          color: #1a2f49;
          border: solid 1px gray;
          border-radius: 5px;">
        <% end %>
          <div class="title">
            <p><%= @tweet.title %></p>
          </div>
          <div class="content">
            <p><%= @tweet.content %></p>
          </div>
          <div class="information">
            <%= time_ago_in_words(@tweet.created_at) %>前<br>
            [<%= @tweet.name %>]→
            <% if @tweet.likes.count >= @tweet.heavennumber %>
            <a href="/heaven">天国行き</a>
            <% elsif @tweet.hellnumber == 0 %>
            <a href="/hells">等活地獄行き</a>
            <% elsif @tweet.hellnumber ==1 %>
            <a href="/hells">黒縄地獄行き</a>
            <% elsif @tweet.hellnumber ==2 %>
            <a href="/hells">衆合地獄行き</a>
            <% elsif @tweet.hellnumber ==3 %>
            <a href="/hells">叫喚地獄行き</a>
            <% elsif @tweet.hellnumber ==4 %>
            <a href="/hells">大叫喚地獄行き</a>
            <% elsif @tweet.hellnumber ==5 %>
            <a href="/hells">焦熱地獄行き</a>
            <% elsif @tweet.hellnumber ==6 %>
            <a href="/hells">大焦熱地獄行き</a>
            <% elsif @tweet.hellnumber ==7 %>
            <a href="/hells">無間地獄行き</a>
            <% end %>
            <br>
            
            <% if @tweet.heavennumber-@tweet.likes.count >= 1  %>
              残り(<%= @tweet.heavennumber-@tweet.likes.count %>)回の感謝で天国行き
            <% end %>
            <div class="like">
              <div class="see">閲覧数 = (<%=  @tweet.impressionist_count(:filter=>:session_hash) %>)</div>
              <div class = "like_contents">
                <div class="word">感謝する</div>
                <div class="btn">
                  <%= button_to '', tweet_likes_path(@tweet), :class => 'thankbtn' %>
                </div>
                
                <div class="likenumber">
                  (<%= @tweet.likes.count %>)
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
  <div class = "deletecontainer">
  <div class="delete">
    <%= form_tag({controller:"tweets",action:"destroy"}, method: :delete) do %>
    <%= number_field_tag :key, @word, placeholder: "削除キー(半角数字4桁)" %>
    <%= submit_tag '削除する', class: 'btn btn-danger'  %>
    <% end %>

  </div></div><br>

  <p style="text-align:center">
    <button class="btn btn-primary" aria-expanded="true" type="button" data-toggle="collapse" data-target="#com-form">コメントを書く</button>
  </p>

  <div class="com-form collapse" id="com-form" aria-expanded="false" style="height: 100px;">
    <%= form_for [@tweet, @comment] do |f| %>
      <%= f.text_field :name, :placeholder=>"名無しさん", :size=> "10x1" %><br>
      <%= f.text_area :content, :placeholder=>"コメントを入力してください", :size=> "60x8" %>
      <br>

      <%= f.submit 'コメントを送る', class: 'btn btn-success'%><br><br><br>
    <% end %>
  </div>
  
  <div class="commenttop">コメント一覧</div>
  <% @comments.each do |c| %>
  <div class="commentsshow">
    <div class="commentcontents">
      <%= c.content %>
    </div>
    <div class="commentname">
      <%= c.name %>
    </div>
    <div class="commentinformation">
    <%= time_ago_in_words(c.created_at) %>前
    </div>
  </div>
  <% end %>
  <div class="fire">
      <img src="/images/fire.png" width="40px" height="40px" class="fireimg">
  </div>

  <div class = "oni">
  </div>
  
  <div class="homelinks">
    <div class="zenkoulink"><%= link_to "善行の部屋に戻る", zenkoutweets_path %></div>
    <div class="zangelink"><%= link_to "懺悔の部屋に戻る", zangetweets_path %></div>
  </div>

  <p id="pagetop"><a href="#">↑ </a></p>

  <footer>
  　 Copyright © M.N All Rights Reserved.
  </footer>
</div>

<% end %>
